language: scala
scala:
  - 2.12.2
  - 2.11.11
  - 2.10.6
install:
  - . $HOME/.nvm/nvm.sh
  - nvm install stable
  - nvm use stable
jdk:
  - oraclejdk8

script: sbt ++$TRAVIS_SCALA_VERSION test docs/tut
